@page
@model ProjectBileteAvion.Pages.Destinatii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Destinatii</h1>

<p>
    <a class="button-stilizat" asp-page="Create">Creeaza destinatie noua</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destinatie[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatie[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatie[0].Tara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatie[0].Aeroport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Destinatie) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aeroport)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
