@page
@model ProjectBileteAvion.Pages.Zboruri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zboruri</h1>

<p>
    <a class="button-stilizat" asp-page="Create">Creeaza zbor nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zbor[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbor[0].DataOraPlecare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbor[0].DataOraSosire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbor[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbor[0].Destinatie)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zbor) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOraPlecare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOraSosire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatie.Aeroport)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
